@charset "UTF-8";

$breakpoint: (
  sp: "screen and (max-width: 580px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  transition: background-color 0.3s; /* 変更を滑らかに */
  // background-color: #00a0e9;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
.pc {
  display: block;
  @include mq(sp) {
    display: none;
  }
}
.sp {
  display: none;

  @include mq(sp) {
    display: block;
  }
}

/* ロゴ移動アニメのスタイル */
.opening {
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
  margin-top: -38px;
  overflow-x: hidden;
  display: none;
  mix-blend-mode: luminosity;
  transition: all 1.6s ease-out; /* ← ここでアニメーションを適用 */
  @include mq(sp) {
    width: 300px;
  }
}

.opening.move {
  display: block;
  animation: moveToTopRight 2s forwards; /* アニメーション適用 */
  animation-fill-mode: forwards;
  @keyframes moveToTopRight {
    to {
      margin-top: 0;
      top: 38px;
      left: 36px;
      width: 85px;
      transform: none;
    }
  }
}

.logoBox.move {
  animation: moveToTopRight2 2s forwards; /* アニメーション適用 */
}
@keyframes moveToTopRight2 {
  to {
    margin-bottom: 0;
  }
}
.opening.moveFin {
  display: block;
  margin-top: 0;
  top: 38px;
  left: 36px;
  width: 85px;
  transform: none;
  #logo path,
  #logo polygon {
    fill: #333 !important; /* 塗りの色 */
    fill-opacity: 1 !important; /* 塗りを見えるように */
    stroke: none !important; /* 線を消す */
  }
}

/* ここまで */

// worksmore用

.worksMoreFlex .item {
  opacity: 1; /* 初期状態で表示 */
  transform: scale(1);
  transition: opacity 0.4s ease, transform 0.4s ease;
  will-change: opacity, transform;
  position: relative; /* 初期状態ではレイアウトを維持 */
  visibility: visible;
}

.worksMoreFlex .item.hidden {
  opacity: 0;
  transform: scale(0.3);
  visibility: hidden;
  position: absolute; /* 非表示時にレイアウトから除外 */
}

// ここまで

.container {
  width: auto;
  margin: 26px;
  padding: 10px;
  overflow-x: hidden; /* 横スクロールを防ぐ */
  overflow-y: hidden; /* 横スクロールを防ぐ */
  .logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    width: auto;
    height: 100vh;
    background-color: #fff;
    #logo path {
      fill-opacity: 0; /* 塗りの色を見えない状態に設定 */
      transition: fill-opacity 0.5s; /* アニメーションで徐々に塗る */
      stroke: #333; /* 線の色 */
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    #logo.done path {
      fill: #333; /* 塗りの色 */
      fill-opacity: 1; /* 塗りを見えるように */
      stroke: none; /* 線を消す */
    }
  }
  header {
    height: calc(20vh - 35px);
    // background-color: #00a0e9;
    .title {
      // margin-bottom: 20px;
      // height: 100%;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      position: relative;
      z-index: 1;
      h2 {
        font-size: 5rem;
        margin-left: 84px;
        letter-spacing: normal;
      }
      p {
        line-height: 1.7;
        font-size: 1.8rem;
        margin-left: 84px;
      }
    }
    .nav {
      position: fixed;
      top: 50%;
      right: -4px;
      z-index: 2;
      transform: translateY(-50%);
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      ul {
        display: flex;
        width: 36px;
        height: 200px;
        justify-content: space-between;
        align-items: center;
        li {
          margin-bottom: 20px;
          a {
            text-decoration: none;
            color: #333;
          }
        }
        li:first-child {
          margin-top: -70px;
        }
        li:nth-child(2) {
          margin-bottom: 100px;
        }
      }
      // li:first-child {
      //   margin-bottom: 20px;
      // }
      // li:nth-child(2) {
      //   margin-bottom: 100px;
      // }
      // li:nth-child(3) {
      //   margin-top: 20px;
      // }
    }
    .timeMessage {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      font-size: 1.2rem;
      margin-top: -113px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      writing-mode: vertical-rl;
      letter-spacing: 0.2rem;
      width: 3rem;
    }
  }

  .tonbo {
    position: fixed;
    top: 0;
    width: calc(100% - 72px);
    height: calc(100%);
    z-index: 4;
    pointer-events: none;
    img:nth-of-type(1) {
      position: absolute;
      top: 0;
      left: -36px;
    }
    img:nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    img:nth-of-type(3) {
      position: absolute;
      top: 0;
      right: -36px;
    }
    img:nth-of-type(4) {
      position: absolute;
      top: 50%;
      left: -40px;
      transform: translateY(-50%);
    }
    img:nth-of-type(5) {
      position: absolute;
      top: 50%;
      right: -40px;
      transform: translateY(-50%);
    }
    img:nth-of-type(6) {
      position: absolute;
      bottom: 0;
      left: -36px;
    }
    img:nth-of-type(7) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    img:nth-of-type(8) {
      position: absolute;
      bottom: 0;
      right: -36px;
    }
    .cmyk {
      position: absolute;
      bottom: 52px !important;
      left: -28px !important;
      z-index: 6;
      pointer-events: all !important;
      display: flex;
      flex-direction: column;
      @include mq(sp) {
        bottom: 42px !important;
      }
      button {
        padding: 8px;
        margin-bottom: 4px;
        border: none;
        cursor: pointer;
      }
      button:last-child {
        padding: 6px;
        height: 16px;
        border: 1px solid #bbb;
        margin-bottom: 0;
      }
      .cyan {
        background-color: cyan;
      }
      .magenta {
        background-color: magenta;
      }
      .yellow {
        background-color: yellow;
      }
      .black {
        background-color: black;
      }
      .white {
        background-color: #fff;
      }
    }
  }
  .top {
    width: auto;
    height: calc(80vh - 35px);
    position: relative;
    h3 {
      font-size: 4.8rem;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }

  .box {
    #inMyHead {
      color: #777;
      width: 100%;
      height: calc(80vh - 36px);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-10vh);
      font-size: 30rem;
      white-space: nowrap;
      text-align: center;
      font-family: "Zen Kaku Gothic New", serif;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 9rem;
      @include mq(sp) {
        font-size: 16rem;
        // white-space: wrap;
        writing-mode: vertical-rl;
        letter-spacing: 5rem;
      }
    }
    span {
      position: relative;
      display: inline-block;
    }
  }
  .area {
    overflow: hidden;
    margin: 0 -10px 60px;
    width: calc(100% + 20px);
    @include mq(sp) {
      margin-bottom: 30px;
    }
  }
  .wrap {
    display: flex;
    @include mq(sp) {
      flex-direction: column;
      background-position: top;
    }
  }
  .item {
    margin: 0 -10px;
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 400;
  }
  .js-item:last-child {
    margin-bottom: 0 !important;
  }
  .worksMore {
    width: calc(75% + 20px);
    margin: 0 auto 240px;
    @include mq(sp) {
      margin: 0 -10px 120px;
      width: calc(100% + 20px);
    }
    h4 {
      font-size: 10rem;
      text-align: center;
      padding: 40px;
      margin: 0 auto;
      @include mq(sp) {
        font-size: 4rem;
      }
    }
    ul {
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      font-size: 2.8rem;
      justify-content: space-around;
      margin: 0 auto 40px;
      cursor: pointer;
      @include mq(sp) {
        width: 100%;
        font-size: 2rem;
      }
      li {
        line-height: 1.7;
      }
    }
    .worksMoreFlex {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      @include mq(sp) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
      .item {
        padding: 0;
        margin: 0;
        width: calc(100% - 4px);
        opacity: 1;
        overflow: hidden;
        border: 1px solid #333;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        img {
          width: 100%;
          cursor: pointer;
          object-fit: cover;
          transition: transform 0.3s ease-in-out;
        }
        img:hover {
          transform: scale(1.3);
          opacity: 0.7;
          @include mq(sp) {
            transform: none;
          }
        }
        @include mq(sp) {
          img:active {
            transform: scale(1.3);
            opacity: 0.7;
          }
        }
      }

      /* 縮小しながらフェードアウト */
      .scaleOut {
        opacity: 0;
        transform: scale(0);
      }

      /* 拡大しながらフェードイン */
      .scaleIn {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  #about {
    .about {
      font-size: 5rem;
      width: 80%;
      margin: 0 auto;
      padding: 40px;
      padding-bottom: 240px;
      font-family: "Zen Kaku Gothic New", serif;
      font-weight: 400;
      // position: -webkit-sticky;
      // position: sticky;
      // top: 0;
      // height: 100vh;
      @include mq(sp) {
        width: auto;
        font-size: 2.6rem;
        margin: 0 auto 120px;
        padding: 0px;
        text-align: justify;
      }
      h4 {
        text-align: center;
        padding: 40px;
        border: 4px solid #333;
        margin: 0 auto;
        font-weight: 700;
        @include mq(sp) {
          padding: 10px;
          width: auto;
        }
      }
      .aboutFlex {
        padding: 40px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
        // flex-wrap: wrap;
        @include mq(sp) {
          flex-direction: column;
          padding: 10px;
          width: auto;
          margin-bottom: 10px;
        }
        .leftBox {
          width: 900px;
          text-align: justify;
          @include mq(sp) {
            width: auto;
            margin-bottom: 40px;
          }
          h5 {
            font-size: 3rem;
            margin-bottom: 20px;
            font-weight: 700;
            line-height: 1.2;
            width: 100%;
            @include mq(sp) {
              padding-top: 10px;
              font-size: 1.8rem;
            }
          }
          p {
            font-size: 1.8rem;
            line-height: 1.7;
            @include mq(sp) {
              font-size: 1.6rem;
            }
          }
        }
        .rightBox {
          width: 500px;
          font-size: 1.6rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 40px;
          @include mq(sp) {
            width: 100%;
          }
          img {
            width: 100%;
            margin-bottom: 20px;
            @include mq(sp) {
              width: 100%;
            }
          }
          @include mq(sp) {
            margin-left: 0;
          }
          .about-box {
            border-bottom: 1px solid #333;
            div {
              margin-bottom: 20px;
              line-height: 1.7;
              dt {
                font-weight: bold;
                float: left;
              }
              dd {
                margin-left: 120px;
                padding-left: 10px;
                border-left: 1px solid #333;
              }
            }
          }
        }
        // .gazou1 {
        //   width: 43%;
        //   min-height: 465px;
        //   background-color: #ccc;
        //   @include mq(sp) {
        //     width: auto;
        //     min-height: 30vh;
        //   }
        // }
      }
      .aboutFlex2 {
        display: flex;
        width: 70%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 40px;
        @include mq(sp) {
          flex-direction: column;
          width: auto;
          padding: 10px;
        }
        img {
          width: 20%;
          @include mq(sp) {
            width: 40%;
            margin-bottom: 20px;
          }
        }
        .aboutCc {
          margin-left: 5%;
          font-size: 2rem;
          width: 75%;
          line-height: 1.4;
          text-align: justify;
          span {
            font-size: 3rem;
            @include mq(sp) {
              font-size: 2rem;
            }
          }
          @include mq(sp) {
            font-size: 1.6rem;
            width: auto;
            margin-left: 0;
          }
        }
      }
      // .more {
      //   font-size: 3rem;
      //   line-height: 1.7;
      //   text-decoration: none;
      //   color: #333;
      //   border-bottom: 1px solid #333;
      //   text-align: center;
      //   display: block;
      //   width: 80px;
      //   margin: 0 auto;
      //   @include mq(sp) {
      //     font-size: 1.8rem;
      //     width: 60px;
      //   }
      // }
    }
    .design {
      font-size: 5rem;
      width: 80%;
      margin: 0 auto;
      padding: 40px;
      padding-bottom: 240px;
      font-family: "Zen Kaku Gothic New", serif;
      font-weight: 400;
      // background-color: #fff;
      // z-index: 2;
      // height: 100vh;
      // position: -webkit-sticky;
      // position: sticky;
      // top: 0;
      @include mq(sp) {
        width: auto;
        font-size: 2.6rem;
        margin: 0 auto 120px;
        padding: 0px;
        text-align: justify;
      }
      h4 {
        text-align: center;
        padding: 40px;
        border: 4px solid #333;
        margin: 0 auto;
        // font-family: "Montserrat", serif;
        // font-optical-sizing: auto;
        font-weight: 700;
        @include mq(sp) {
          padding: 10px;
          width: auto;
        }
      }
      .contentBox {
        width: auto;
        padding: 40px;
        @include mq(sp) {
          padding: 10px;
        }
        h5 {
          font-size: 3rem;
          margin-bottom: 20px;
          font-weight: 700;
          line-height: 1.7;
          @include mq(sp) {
            padding-top: 10px;
            font-size: 1.8rem;
          }
        }
        p {
          font-size: 1.8rem;
          line-height: 1.7;
          margin-bottom: 40px;
          @include mq(sp) {
            font-size: 1.6rem;
            margin-bottom: 20px;
          }
        }
        p:last-child {
          margin-bottom: 0px;
        }
      }
      .workFlex {
        display: flex;
        width: auto;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 40px;
        padding: 40px;
        flex-wrap: wrap;
        @include mq(sp) {
          padding: 20px;
          flex-direction: column;
          margin: 0 auto 20px;
        }
        .gazou {
          width: 330px;
          height: 330px;
          background-color: #ccc;
          margin-bottom: 40px;
          @include mq(sp) {
            width: 100%;
            height: 30vh;
            margin-bottom: 3.3vh;
          }
        }
      }
      // .more {
      //   font-size: 3rem;
      //   line-height: 1.7;
      //   text-decoration: none;
      //   color: #333;
      //   border-bottom: 1px solid #333;
      //   text-align: center;
      //   display: block;
      //   width: 80px;
      //   margin: 0 auto;
      //   @include mq(sp) {
      //     font-size: 1.8rem;
      //     width: 60px;
      //   }
      // }
    }
    .cording {
      font-size: 5rem;
      width: 80%;
      margin: 0 auto;
      padding: 40px;
      padding-bottom: 240px;
      font-family: "Zen Kaku Gothic New", serif;
      font-weight: 400;
      letter-spacing: 0.1rem;
      @include mq(sp) {
        width: auto;
        font-size: 2.6rem;
        margin: 0 auto 120px;
        padding: 0;
        // text-align: justify;
      }
      h4 {
        text-align: center;
        padding: 40px;
        border: 4px solid #333;
        margin: 0 auto;
        font-weight: 700;
        @include mq(sp) {
          padding: 10px;
          width: auto;
        }
      }
      .contentBox {
        width: auto;
        padding: 40px;
        @include mq(sp) {
          padding: 10px;
        }
        h5 {
          font-size: 3rem;
          margin-bottom: 20px;
          font-weight: 700;
          @include mq(sp) {
            padding-top: 10px;
            font-size: 1.8rem;
          }
        }
        p {
          font-size: 1.8rem;
          line-height: 1.7;
          margin-bottom: 40px;
          @include mq(sp) {
            font-size: 1.6rem;
            margin-bottom: 20px;
          }
        }
        p:last-child {
          margin-bottom: 0px;
        }
        .skillBox {
          width: 100%;
          font-size: 1.6rem;
          border-bottom: 1px solid #333;
          div {
            margin-bottom: 20px;
            line-height: 1.7;
            dt {
              font-weight: bold;
              float: left;

              @include mq(sp) {
                width: 40%;
              }
            }
            dd {
              margin-left: 180px;
              padding-left: 10px;
              border-left: 1px solid #333;
              @include mq(sp) {
                margin-left: 120px;
              }
            }
          }
        }
      }
      .workFlex {
        display: flex;
        width: auto;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 40px;
        padding: 40px;
        flex-wrap: wrap;
        @include mq(sp) {
          padding: 20px;
          flex-direction: column;
          margin: 0 auto 20px;
        }
        .gazou {
          width: 330px;
          height: 330px;
          background-color: #ccc;
          margin-bottom: 40px;
          @include mq(sp) {
            width: 100%;
            height: 30vh;
            margin-bottom: 3.3vh;
          }
        }
      }
      // .more {
      //   font-size: 3rem;
      //   line-height: 1.7;
      //   text-decoration: none;
      //   color: #333;
      //   border-bottom: 1px solid #333;
      //   text-align: center;
      //   display: block;
      //   width: 80px;
      //   margin: 0 auto;
      //   @include mq(sp) {
      //     font-size: 1.8rem;
      //     width: 60px;
      //   }
      // }
    }
  }
  .work-illust {
    width: auto;
    margin-bottom: 120px;
    text-align: center;
    h4 {
      font-size: 20rem;
      padding: 40px;
      margin: 0 auto;
      @include mq(sp) {
        font-size: 4.8rem;
      }
    }
    img {
      width: 80%;
      // border: 1px solid #333;
      @include mq(sp) {
        width: calc(100% - 2px);
      }

      // height: 100vh;
      // display: block;
    }
  }
  .work {
    // background: #00a0e9;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .imgBox {
      width: calc(75% - 2px);
      overflow: hidden;
      border: 1px solid #333;
      @include mq(sp) {
        width: calc(100% - 2px);
      }
      img {
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
        // margin-left: 15%;
        cursor: pointer;
      }
      img:hover {
        transform: scale(1.3);
        opacity: 0.7;
        @include mq(sp) {
          transform: none;
          opacity: 1;
        }
      }
      @include mq(sp) {
        img:active {
          transform: scale(1.3);
          opacity: 0.7;
        }
      }
    }

    h5 {
      margin-top: 10px;
      letter-spacing: 0.1;
      width: 75%;
      text-align: left;
      line-height: 1.4;
      span {
        font-size: 1.2rem;
      }
      @include mq(sp) {
        font-size: 1.4rem;
        width: 100%;
      }
    }
  }
  // .work:last-child {
  //   justify-content: center;
  // }
  // .work:last-child img {
  //   margin-left: 0;
  // }
  // 横スクロール用
  /* 縦スクロール用のスペーサー */
  // .spacer {
  //   text-align: center;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   font-size: 24px;
  // }
  /* 横スクロールセクション */
  .horizontal-section {
    position: relative;
    height: 100vh; /* 固定の高さ */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden; /* オーバーフローを非表示 */
    // background-color: #3d6b35;
    width: calc(100% + 20px);
    margin: 0 -10px;
    @include mq(sp) {
      height: auto;
      position: initial;
      width: 100%;
      margin: 0;
      justify-content: center;
      overflow: visible;
    }
  }

  /* 横スクロールするテキスト */
  .scroll-text {
    white-space: nowrap; /* テキストを一行にする */
    font-size: 44.8rem;
    letter-spacing: 1rem;
    display: flex;
    padding: 0 50vw 0 20vw;
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 700;
    font-style: normal;
    @include mq(sp) {
      font-size: 10rem;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      padding: 15vh 0;
    }
  }
  footer {
    height: 100vh;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}

// ポップアップ用

/* ポップアップ全体のスタイル */
#popup-content {
  display: none;
  /* padding: 20px; */
  background: rgba(0, 0, 0, 0.65);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* 高さを100vhに設定 */
  z-index: 3; /* ポップアップを最前面に表示 */
  overflow-y: auto;
  /* ポップアップ内のコンテンツ */
  .popup-inner {
    width: auto;
    padding: 120px;
    @include mq(sp) {
      padding: 10px;
    }
    /* background-color: orange; */
    // ポップアップ用のスタイル
    img {
      margin-bottom: 40px;
    }
    img:last-child {
      margin-bottom: 0;
    }
    h5 {
      margin-top: 10px;
      letter-spacing: 0.1;
      width: 75%;
      text-align: left;
      line-height: 1.4;
      margin-bottom: 20px;
      span {
        font-size: 1.2rem;
      }
    }
    .description {
      font-family: "Zen Kaku Gothic New", serif;
      /* font-weight: 700; */
      font-style: normal;
      width: 50%;
      line-height: 1.7;
      margin-bottom: 20px;
      @include mq(sp) {
        width: 100%;
      }
    }
    .site-url {
      font-size: 1.2rem;
      margin-bottom: 40px;
    }
  }
  /* 閉じるボタンのスタイル */
  #close-popup {
    color: #fff;
    background: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 40px;
    @include mq(sp) {
      top: 10px;
      right: 10px;
    }
  }
}
/* ブラー効果 */
.blur {
  filter: blur(5px);
}
// ここまで

// スマホ横置き禁止
@media screen and (max-width: 580px) and (orientation: landscape) {
  .tonbo {
    position: fixed;
    top: 0;
    z-index: 10 !important;
  }
  body::before {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.9;
    font-size: 2rem;
    text-align: center;
    color: white;
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 400;
    content: "画面を縦向きにしてください。";
    z-index: 11;
  }
}
